# Converting Data Types

## String to Int

In [1]:
num_int = 7
type(num_int)

int

In [3]:
num_str = "7"

type(num_string)

str

In [9]:
num_str_converted = int(num_str)

type(num_str_converted)

int

In [10]:
num_sum = num_int + num_str_converted

print(num_sum)

14

## Converting Lists, Sets, and Tuples

In [13]:
list_type = [1,2,3]

type(list_type)

list

In [ ]:
list_type = [1,2,3]

type(list_type)

In [17]:
#Convert a list to a tuple by:

tuple(list_type)

(1, 2, 3)

In [18]:
type(tuple(list_type))

tuple

In [23]:
#Converting a list into set but it might change the values within it, like if you had duplicate values it removes them

list_type = [1,2,3,1,2,3,3,2,1,2,3,1,2,3]

In [24]:
set(list_type)

{1, 2, 3}

In [26]:
dict_type = {'name': 'Brandon Le', 'age': 24, 'hair': 'dark brown'}

type(dict_type)

dict

In [27]:
dict_type.items()

dict_items([('name', 'Brandon Le'), ('age', 24), ('hair', 'dark brown')])

In [28]:
dict_type.values()

dict_values(['Brandon Le', 24, 'dark brown'])

In [39]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [41]:
list(dict_type.values())

['Brandon Le', 24, 'dark brown']

In [40]:
list(dict_type.keys())

['name', 'age', 'hair']

## Converting Strings to lists/sets

In [ ]:
long_str = "I like to party"

In [37]:
list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 't', 'o', ' ', 'p', 'a', 'r', 't', 'y']

In [38]:
set(long_str)

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}